<!-- About Section -->
<div id="about" class="page-alternate">
<div class="container">
    <!-- Title Page -->
    <div class="row">
        <div class="span12">
            <div class="title-page">
                <h2 class="title">About me...</h2>
            </div>
        </div>
    </div>
    <!-- End Title Page -->

    <!-- People -->
    <div class="row">

        <!-- Start Profile -->
    	<div class="span6 profile">
        	<div class="image-wrap">
                <div class="hover-wrap">
                    <span class="overlay-img"></span>
                    <span class="overlay-text-thumb">Graduating May 2019</span>
                </div>
                <img src="include/img/profile/faceprofile.jpg" alt="John Doe">
            </div>
            <h3 class="profile-name">what i'm about...</h3>
            <p class="profile-description">Here goes a quick synopsis of what i'm about and what drives me <a href="#">hyperlink to landing?</a> more textmore textmore textmore textmore textmore textmore textmore textmore textmore textmore textmore textmore textmore text.
              .</p>
        </div>
        <div class="span4 profile">
            <div class="image-wrap">
              <div class="hover-wrap">
                  <span class="overlay-img"></span>
                  <span class="overlay-text-thumb">Graduating May 2019</span>
              </div>
              <img src="include/img/profile/profile-01.jpg" alt="John Doe">
          </div>
        <!-- End Profile -->

    </div>
    <!-- End People -->
</div>
</div>
<!-- End About Section -->