<!-- Contact Section -->
<div id="contact" class="page">
<div class="container">
    <!-- Title Page -->
    <div class="row">
        <div class="span12">
            <div class="title-page">
                <h2 class="title">Let's chat...</h2>
                <h3 class="title-description">Reach out. I'd love to start a conversation...</h3>
            </div>
        </div>
    </div>
    <!-- End Title Page -->

    <!-- Contact -->
    <div class="row">
    	<div class="span12">
        Email - <a href=“mailto:wpaulberry@gmail.com”>wpberry@gmail.com</a>
      </div>
      <div class="span12">
        Phone - 970.819.4697
      </div>
      <div class="span12">
      </div>
    </div>
    <!-- End Contact Form -->
</div>
</div>
<!-- End Contact Section -->