<nav class="sticky-nav prose--dark text--center">

  <div class="flex-parent flex-parent--center-main content pt12">

    <div id='logo' class="flex-child flex-child--grow">

      <a href="/" class="txt-l p12 link link--white"><img src="/assets/img/logo.png" /></a>
    </div>

    <div id='nav-list' class="flex-child">
      <ul class="inline-block flex-parent flex-parent--row">
        <li class='flex-child'><a class="{% if page.layout == "home" %} active {% endif %} bg-gray-on-hover txt-l link link--white p12" href="/#work">My Work</a></li>
        <li class='flex-child'><a class="{% if page.title == "about" %} active {% endif %} bg-gray-on-hover txt-l link link--white p12" href="about.html">About</a></li>
        <li class='flex-child'><a class="{% if page.title == "contact" %} active {% endif %} bg-gray-on-hover txt-l link link--white p12" href="contact.html">Contact</a></li>
      </ul>
    </div>

  </div>
</nav>
