<nav class="sticky-nav bg-gray-dark prose--dark">
  <!-- <div class="">Paul Berry</div> -->
  <ul class="flex-parent flex-parent--row ">
    <li class='txt-l flex-child mr12'><a class="link link--white" href="#">Home &amp; Blog</a></li>
    <li class='txt-l flex-child mr12'><a class="link link--white" href="#">About</a></li>
    <li class='txt-l flex-child mr12'><a class="link link--white" href="#">Contact</a></li>
    <li class='txt-l flex-child mr12'><a class="link link--white" href="#">Home</a></li>
  </ul>
</nav>
