body{
  background-color: #FAFAFA;
}

div#page-bg{
  position: absolute;
  z-index:-1;
  width:100%;
  top: 0;
  left: 0;
}

div.page-content{
  width: 80% !important;
  min-width: 400px !important;
  background-color: #FAFAFF;
  opacity: 0.9;
}

ul.post-list{
  width: 75%;
  margin: 0 auto;
  min-width: 400px;
}

nav.sticky-nav{
  position: fixed;
  z-index: 100;
  top: 0px;
  left: 0px;
  display: block;
  width: 100%;
  background-color: rgb(48,51,56);
  border-bottom: 7px solid #666;
}

nav div.content{
  width: 80% !important;
  min-width: 400px !important;
  margin: 0 auto;
}

nav ul li a.active{
  background-color: #666;
}

nav ul li a:visited{
  color:white;
}

footer.sticky-footer{
  position: fixed;
  bottom: 0px;
  left: 0px;
  display: block;
  width: 100%;
  background-color: #FAFAFA;
}

footer div.content{
  margin: 0 auto;
  width: 80% !important;
  min-width: 400px !important;
}
