<html lang="en-US"> <!--<![endif]-->

  {% include head.html %}

  <body>

    {% include nav.html %}

    <div id="page-bg" class="viewport-almost" style='background-image:linear-gradient(to bottom, transparent 0%, white 100%),
    url("/assets/img/header-images/{{page.bg-image}}")'></div>

    <div class="flex-parent flex-parent--center-main mt180">

      <div class="page-content flex-child p12">

  			<div class="home-body">

          {{content}}

          {% include blog.html %}

  			</div>

      </div>

    </div>

    {% include foot.html %}

  </body>
</html>
